<html >
  <head>
    <link rel="stylesheet" href="static/css/cstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body >
        <section class="he">

            <h1 class="name">Developer Roadmaps</h1>

           <div class="img">
            

            <p class="para">Career Atlas is a community effort to create roadmaps,guides and other educational content to help guide the developers in picking up the path and guide their learnings.</p>
            <img src="static/images/c1.png">
           </div>

          

      
       <h2  class="role">Role Based Roadmaps</h2>
       <hr style="width:23%; color:blue">
      
      <div>
        <ul class="listnames">

            <li><a href="frontend.html">Frontend</a></li>
            <li><a href="Backend.html">Backend</a></li>
            <li><a href="Devops.html">Devops</a></li>
            <li><a href="PostgreSQL DBA.html">PostgreSQL DBA</a></li>
            <li><a href="Android developer.html">Android developer</a></li>
            <li><a href="Blockchain.html">Blockchain</a></li>
            
        </ul>
      </div>     


      
      <h2  class="role">Skill Based Roadmaps</h2>
      <hr style="width:23%; color:white">
      
      <div>
        <ul class="listnames">

            <li><a href="React.html">React</a></li>
            <li><a href="Angular.html">Angular</a></li>
            <li><a href="Java Script.html">Java Script</a></li>
            <li><a href="Vue.html">Vue</a></li>
            <li><a href="Type Script.html">Type Script</a></li>
            <li><a href="Java.html">Java</a></li>
            <li><a href="Spring Boot.html">Spring Boot</a></li>
            <li><a href="Python.html">Python</a></li>
            <li><a href="Software design and architecture.html">Software design and architecture</a></li>
            <li><a href="NOde.js.html">Node.js</a></li>
            <li><a href="GraphQL.html">GraphQL</a></li>
            <li><a href="Kubernetes.html">Kubernetes</a></li>
            <li><a href="System Design.html">System Design</a></li>
            <li><a href="MongoDB.html">MongoDB</a></li>
            <li><a href="Computer Science.html">Computer Science</a></li>
           
            
            
            

          
        </ul>
      </div>  

      <h2  class="role">Department wise Roadmaps</h2>
      <hr style="width:30%; color:white">
      
      <div>
        <ul class="listnames">

            <li><a href="">Computer Science and Engineering</a></li>
            <li><a href="">Electronics and communication Engineering</a></li>
            <li><a href="">Civil Engineering</a></li>
            <li><a href="">Mechanical Engineering</a></li>
            <li><a href="">Electrical and Electronic Engineering</a></li>
            <li><a href="">Internet of Things</a></li>
            <li><a href="">Software Engineering</a></li>
            <li><a href="">Data Science</a></li>
            <li><a href="">Artificial Intelligence & Machine Learning</a></li>
          
        </ul>
      </div>  
    
    
    </section>

    </body>
    </html>