<!DOCTYPE html>
<html>
<head>
<title>Jobs || Career Atlas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/jstyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<section id="header">

<div class="menu-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#"><img src="static/images/1222.png"  class="image"></a>
        <h3 style="color: aliceblue; font-size:xx-large ;">Career Atlas Jobs Place</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



</div>
<div class="banner text-center">
    <h1>JOBS AROUND YOU</h1>


    </div>


</section>
<div class="search-job text-center">

<input type="text" class="form-control" placeholder="search Keyword">
<input type="text" class="form-control" placeholder="company">
<input type="text" class="form-control" placeholder="location">
<input type="button" class="btn btn-primary" value="Find Job">



</div>
<section id="recruiters">
<div class="container text-center">
<h3>TOP RECRUITERS</h3>
<div class="theme">
<img src="static/images/Oracle.png" class="right">
<img src="static/images/cisco.png" class="right">
<img src="static/images/amazon.jpg" class="right">
<img src="static/images/netflix.jpg" class="right">
<img src="static/images/dell.png" class="right">



</div>
<div class="theme1">
    <img src="static/images/mysql.png" class="right1">
    <img src="static/images/xampp.png" class="right1">
    <img src="static/images/asp.net.gif" class="right1">
    <img src="static/images/logo.png" class="right1">
    <img src="static/images/affect.png" class="right1">



    </div>
</div>
</section>
<section id="jobs">
<div class="container">

<h5>RECENT UPDATES</h5>
<div class="company-details">
<div class="job-update">

<h4><b> Senior Java Developer(Fresher)</b></h4>
<p><b>Reliance Jio Pvt Ltd</b></p>
<i class="fa fa-briefcase"></i><span><b>0-1 yrs</b></span><br>
<i class="fa fa-inr"></i><span><b>6 LPA</b></span><br>
<i class="fa fa-map-marker"></i><span><b>Eligibility 2021,22,23</b></span>
<i class="fa fa-map-marker"></i><span><b>Mumbai,pune</b></span>
<p>Skills <i class="fa fa-angle-double-right" ></i><small>Java</small>
<small> Python </small><small> HTML, CSS</small><small>  Jenkins  </small></p>
</div>
<div class="apply-btn">

<button type="button" class="btn btn-primary" onclick="window.location.href='https://rb.gy/5zaf5';">Apply Here</button>

</div>
</div>
<div class="company-details">
    <div class="job-update">

    <h4><b>Frontend Developer(Fresher)</b></h4>
    <p><b>TCS</b></p>
    <i class="fa fa-briefcase"></i><span><b>0-1 yrs</b></span><br>
    <i class="fa fa-inr"></i><span><b>3-6 LPA</b></span><br>
    <i class="fa fa-map-marker"></i><span><b>Bangalore</b></span>
    <i class="fa fa-map-marker"></i><span><b>Eligibility 2022,2023</b></span>
    <p>Skills <i class="fa fa-angle-double-right" ></i><small>Java</small>
    <small> Python </small><small> FullStack</small><small>  C </small></p>

    </div>
    <div class="apply-btn">
    <button type="button" class="btn btn-primary" onclick="window.location.href='https://www.tcs.com/careers/india/tcs-admin-off-campus-hiring';">Apply Here</button>
    </div>
    </div>
    <div class="company-details">
        <div class="job-update">

        <h4><b>Wipro Non Voice Processor</b></h4>
        <p><b>Wipro Pvt Ltd</b></p>
        <i class="fa fa-briefcase"></i><span><b>0-1 yrs</b></span><br>
        <i class="fa fa-inr"></i><span><b>4LPA</b></span><br>
        <i class="fa fa-map-marker"></i><span><b>Not-fixed</b></span>
        <p>Skills <i class="fa fa-angle-double-right" ></i><small>React.Js</small>
        <small> Python </small><small> HTML, CSS</small><small>  Devops </small></p>

        </div>
        <div class="apply-btn">
        <button type="button" class="btn btn-primary" onclick="window.location.href='https://rb.gy/s7se8';">Apply Here</button>
        </div>
        </div>

        <div class="company-details">
            <div class="job-update">

            <h4><b>Indusland Bank is Hiring</b></h4>
            <p><b>IndusLand Bank</b></p>
            <i class="fa fa-briefcase"></i><span><b>3 years</b></span><br>
            <i class="fa fa-inr"></i><span><b>Not fixed</b></span><br>
            <i class="fa fa-map-marker"></i><span><b>Not fixed</b></span>
            <p>Skills <i class="fa fa-angle-double-right" ></i><small>Business Development and managemant</small>
            <small> Sales</small><small> Casa</small><small>   </small></p>

            <div class="apply-btn">
            <button type="button" class="btn btn-primary" onclick="window.location.href='https://rb.gy/5ki8t';">Apply Here</button>
            </div>
            </div>
            

</div>
</section>

<!------Site Stats-->
<section id="site-stats">
<div class="container text-center">
 <h3>CAREER ATLAS SITE STATS</h3>

<div class="row">
<div class="col-md-6">
<div class="row">
<div class="col-6">
<div class="stats-box">
    <i class="fa fa-user-o"></i><span><small>10+</small></span>
    <p>Job Seekers</p>
</div>

</div>
<div class="col-6">
    <div class="stats-box">
        <i class="fa fa-slideshare"></i><span><small>4</small></span>
        <p> Employers</p>
    </div>

    </div>

</div>
</div>
<div class="col-md-6">
    <div class="row">
    <div class="col-6">
    <div class="stats-box">
        <i class="fa fa-hand-peace-o"></i><span><small>100+</small></span>
        <p>Active Jobs</p>
    </div>

    </div>
    <div class="col-6">
        <div class="stats-box">
            <i class="fa fa-building-o"></i><span><small>500+</small></span>
            <p> Companies</p>
        </div>

        </div>

    </div>
    </div>
</div>








</div>




</section>




</body>


</html>